<div class="col-xs-offset-2 col-xs-10">
  {% if section.form.non_field_errors %}
    <div class="form_errors">
      {% for err in section.form.non_field_errors %}
    <div class="form_error_message">{{ err }}</div>
      {% endfor %}
    </div>	
  {% endif %}
  {% for hidden in section.form.hidden_fields %}
       {{ hidden }}
  {% endfor %}
  {% for field in section.form.visible_fields %}
      {% for err in field.errors %}
      <span class="error_message">{{ err }}</span>
      {% endfor %}
      <div class="checkbox">
                <label><input type="checkbox" name="{{ field.name}}" id="{{ field.auto_id }}">{{ field.label_tag }}</label>
      </div>
  {% endfor %}
</div>
