{% extends "base.html" %}
{% load url from future %}

{% block navigation %}
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/set_up_help">Set up help</a></li>
          <li><a href="/admin">Admin</a></li>
{% endblock %}

{% block big_heading %}
<div class="jumbotron">
  <h2>{{ custom.title }}</h2>
  <p class="lead">{{ custom.strap_line }}</p>
</div>
{% endblock %}

{% block content %}
<ul class="list-group">
{% for leaflet in leaflets %}
  <li class="list-group-item"><a href="{% url 'leaflet' leaflet.pk %}" >{{ leaflet.title }}</a></li>
{% endfor %}
</ul>
{% endblock %}
