{% extends "base.html" %}
{% load url from future %}

{% block navigation %}
          <li><a href="/">Cancel</a></li>
{% endblock %}

{% block big_heading %}
<div class="jumbotron">
  <h2>{{ leaflet.title }}</h2>
</div>
{% endblock %}

{% block content %}
<form name="input" action="." method="post" class="form-inline" role="form">
{% csrf_token %}
{% for section in sections %}
  <fieldset>
    <legend>{{ section.title }}</legend>
    {% if section.form.non_field_errors %}
    <div class="form_errors">
      {% for err in section.form.non_field_errors %}
    <div class="form_error_message">{{ err }}</div>
      {% endfor %}
    </div>	
    {% endif %}
    {% for hidden in section.form.hidden_fields %}
       {{ hidden }}
    {% endfor %}
    {% for field in section.form.visible_fields %}
    <div {% if field.errors %}class="field_error"{% endif %}>
      {{ field.label_tag }}
      {% for err in field.errors %}
      <span class="error_message">{{ err }}</span>
      {% endfor %}
      {{ field }}
    </div>
    {% endfor %}
  </fieldset>
{% endfor %}

  <fieldset>
    <legend>Contact details</legend>
{% for form in extra_forms %}  
  {% if form.non_field_errors %}
  <div class="form_errors">
    {% for err in form.non_field_errors %}
    <div class="form_error_message">{{ err }}</div>
    {% endfor %}
  </div>	
  {% endif %}
  {% for hidden in form.hidden_fields %}
     {{ hidden }}
  {% endfor %}
  {% for field in form.visible_fields %}
    <div {% if field.errors %}class="field_error"{% endif %}>
      {{ field.label_tag }}
      {% for err in field.errors %}
      <span class="error_message">{{ err }}</span>
      {% endfor %}
      {{ field }}
    </div>
  {% endfor %}
{% endfor %}
  </fieldset>
<input type="submit" value="Submit">
</form> 
{% endblock %}
