{% extends "base.html" %}
{% load url from future %}

{% block navigation %}
          <li><a href="/">Cancel</a></li>
{% endblock %}

{% block big_heading %}
<div class="jumbotron">
  <h2>{{ leaflet.title }}</h2>
</div>
{% endblock %}

{% block content %}
<form name="input" action="." method="post" class="form-horizontal" role="form">
{% csrf_token %}
{% for section in sections %}
  <fieldset>
    <legend>{{ section.title }}</legend>
    <div class="form-group">
      {% if section.form.check_boxes %}
        {% include 'checkboxsection.html' %}
      {% elif section.form.radio_buttons %}
        {% include 'radioboxsection.html' %}
      {% endif %}
    </div>
  </fieldset>
{% endfor %}

  <fieldset>
    <legend>Contact details</legend>
{% for form in extra_forms %}  
  {% if form.non_field_errors %}
  <div class="form_errors">
    {% for err in form.non_field_errors %}
    <div class="form_error_message">{{ err }}</div>
    {% endfor %}
  </div>	
  {% endif %}
  {% for hidden in form.hidden_fields %}
     {{ hidden }}
  {% endfor %}
  {% for field in form.visible_fields %}
   <div class="form-group">
        <label for="{{ field.auto_id }}" class="control-label col-xs-2">{{ field.label }}</label>

      {% for err in field.errors %}
      <span class="error_message">{{ err }}</span>
      {% endfor %}
      <div class="col-xs-10">
        <input type="text" class="form-control" name="{{ field.label }}" id="{{ field.auto_id }}" placeholder="{{ field.label }}">
      </div> 
   </div>
  {% endfor %}
{% endfor %}

  </fieldset>
<input type="submit" value="Submit">
</form> 

<br />
<br />


<form name="input" action="." method="post" class="form-horizontal" role="form">
  <fieldset>
    <legend>Radio button example</legend>
      <div class="form-group">
        <label class="col-xs-3 control-label">Choose</label>
        <div class="col-xs-9">
          <div class="radio">
            <label>
              <input id="inlineradio1" name="sampleinlineradio" value="option1" type="radio">Radio 0
            </label>
         </div>
         <div class="radio">
           <label>
             <input id="inlineradio1" name="sampleinlineradio" value="option1" type="radio">Radio 0
          </label>
         </div>
         <div class="radio">
           <label>
             <input id="inlineradio1" name="sampleinlineradio" value="option1" type="radio">Radio 0
           </label>
         </div>
       </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Checkbox example</legend>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Forget me</label>
            </div>
        </div>
      </div>
  </fieldset>
  <fieldset>
    <legend>Checkbox example</legend>
      <div class="form-group">
        <label for="inputEmail" class="control-label col-xs-2">Email</label>
        <div class="col-xs-10">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputmobile" class="control-label col-xs-2">Mobile number</label>
        <div class="col-xs-10">
            <input type="password" class="form-control" id="inputMobile" placeholder="Mobile number">
        </div>
      </div>
  </fieldset>
</form>
{% endblock %}
