{% extends "base.html" %}
{% load url from future %}

{% block navigation %}
          <li><a href="/">Home</a></li>
          <li class="active"><a href="#">Set up help</a></li>
          <li><a href="/admin">Admin</a></li>
{% endblock %}

{% block big_heading %}
<div class="jumbotron">
  <p class="lead">Use the <a href="/admin">Admin</a> to edit the Custom table.  For each piece of wording you want to change, set up a entry in the Custom table, with the relevant label (see below).  Put the new wording in the value field.</p>
</div>
{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
       <th>Label</th>
       <th>Default</th>
       <th>Description</th>
    </tr>
  </thead>
  <tbody>
{% for i in custom_help %}
    <tr>
       <td>{{ i.label }}</td>
       <td>{{ i.default }}</td>
       <td>{{ i.description }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
